* {
    box-sizing: border-box;
    font-family: "PT Sans",sans-serif;
    color: #fff;
}
.begining {
    background-color: #447;
    padding-bottom: 5px;
}
body {
    padding: 0;
    margin: 0;
}
nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #447;
    color: white;
}
.dad {
    font-size: 25px;
    margin: .5rem;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    width: 0px;
    height: 2.5px;
    margin: 1.5rem;
    color: white;
    font-size: 19px;
}
ul li a:hover {
    letter-spacing: 0.01em;
    width: 100%;
    text-underline-position: under;
    text-decoration: underline 2px;
    text-decoration-color: red;
    transition-timing-function: ease-out;
    transition-property: all;
    transition-duration: 500ms;

}
.content {
    background-color: #447;
    max-height: 655px;
    width: 100%;
}
.h12 {
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 5px;
}
#p {
    padding-bottom: 20px;
    margin-left: 5px;
}
@media only screen and (max-width: 480px) {
    .h11 {
        font: 15px;
        margin-right: 200px;
    }
}
    a {
        padding-right: 10px;
        padding-top: 1px;
    }
div {
    display: block;
}
.color {
    background-color: #445;
    width: 100%;
    height: 310px;
}
.img1 {
    height: 700px;
    width: 90%;
    max-width: 900px;
}
html {
    background-color: #447;
}
.big_container {
    border-color: #445;
    border-style: solid;
    height: 170px;
    background-color: #445;
    margin-top: 250px;
}
h2 {
    color: white;
}
.visibility {
    visibility: hidden;
}
.shoutout {
    border-style: inset;
    height: 50px;
    margin-bottom: 3px;
    border-color: #fff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-color: rgba(255, 255, 255, 0.85);
    margin-left: -10px;
}
a {
    color:#00f;
}
.about {
    margin-top: 0px;
}
.everything {
   margin-left: 5px;
}
.pelement {
    margin-left: 5px;
}
.copyright {
    margin-top: 20px;
    color: rgba(128, 128, 128, 0.989);
    position: absolute;
    margin-left: 10px;
}